body {
     background-color: #3e3d3d;
}


#navigation_box{
    background-color: #000;
    max-width: 100%;
    height: 40px;
    -webkit-border-radius: 4px;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: 3px inset #808080;
}

#navigation_box ul{
    margin-top: 0;
    padding: 10px;
    list-style: none;
    color: #fff;    
    text-align: center;
}

#navigation_box ul li{
    display: inline-block;
    margin-left: 10%;
    font-family: 'Times New Roman';
    font-size: 20px;
}

li:hover{
    background-color: #808080;
    -webkit-border-radius: 3px;
}


a:link{
    color: #fff;
    text-decoration: none;
}

a:visited{
    color: #159abf;
}

#home_content{    
    padding-bottom: 0;
    background-image: radial-gradient(circle, #656464, #3e3d3d);
    -webkit-border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#philosophy{
    padding: 19% 0 18.5% 10%;
    background-size: contain; 
    background-image: url(agweb2.jpg);
    background-position: right;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    font-size: 22px;
    text-align: justify;
    position: relative;
    left: 2%;
    top: 10%;
    color: #aeacac;
}
