body {
    background-color: #808080;
  
}

#introduction_bar{
    display: block;
    background-color: #fff;
    font-family:'Times New Roman',sans-serif;
    font-style: italic;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 3px inset #353232;
    border-right:  3px inset #353232;
}
#welcome_bar{
    max-width: 35%;
    font-size: 50px;
 }

#welcome_text{
    color: #3879c0;
    text-align: center;
}

#philosophy{
    max-width: 65%;
    max-height: 200px;
    position: absolute;
    left: 35%;
    font-size:20px;
    top: 3.5%;
    text-align: justify;
    color: #808080;
}

#rwe{
    text-align: right;
}

#navigation_box{
    width: 100%;
    max-height: 40px; 
    background-color: #fff;
    border-bottom: 3px inset #353232;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    padding-bottom: 0.5%;
}

#navigation_box ul {
    list-style: none;
}   
#navigation_box ul li{
    width: auto;
    margin-left: 12%;
    float: left;
    font-size: medium;
    font-family: 'Lucida Calligraphy';
}

li:hover{
    background-color: #3879c0;
}
